In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas Series Object
data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data[1] # 0 indexli => 0.5

0.5

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
data['c']

0.75

In [7]:
nufus_dict = {'Istanbul': 16_000_000, 'Ankara': 5_000_00, 'Izmir': 3_000_000}

In [8]:
nufus = pd.Series(nufus_dict)

In [9]:
print(nufus)

Istanbul    16000000
Ankara        500000
Izmir        3000000
dtype: int64

In [10]:
nufus['Ankara']

500000

In [11]:
# Pandas Dataframe 
alan_dict = {'Istanbul': 9_000, 'Ankara': 8_000, 'Izmir': 6_000}

In [14]:
sehirler = pd.DataFrame({'Nufus': nufus_dict, 'Alan':alan_dict})
sehirler

             Nufus  Alan
Istanbul  16000000  9000
Ankara      500000  8000
Izmir      3000000  6000

In [15]:
sehirler.index # DataFrame'in index listesi

Index(['Istanbul', 'Ankara', 'Izmir'], dtype='object')

In [16]:
sehirler.columns # DataFrame'in kolon isimleri

Index(['Nufus', 'Alan'], dtype='object')

In [17]:
sehirler['Alan']

Istanbul    9000
Ankara      8000
Izmir       6000
Name: Alan, dtype: int64

In [18]:
pd.DataFrame([{'a':1, 'b':2},{'a':2, 'b':5}]) # DataFrame oluşturulması

   a  b
0  1  2
1  2  5

In [19]:
pd.DataFrame([{'a':1, 'b':2},{'a':2, 'b':5, 'c':5}]) # DataFrame oluşturulması * Sınavda Çıkabilir *

   a  b    c
0  1  2  NaN
1  2  5  5.0